.center{style: "text-align: center"}
  %h1{style: "font-size: 50px;font-weight:bold"} Novo Perfil
  %hr.invisible

.container-fluid
  = render "backoffice/profiles/shared/form", :profile => @profile
      
-# = link_to "Voltar", :back, class: "btn btn-white"